[Unit]
Description=node http-sip2 deamon
After=network.target

[Service]
Type=simple
#WorkingDirectory=file:/home/rfid/node/smartshelfd/
ExecStart=/usr/bin/node /home/rfid/node/http-sip2/server.js
ExecStop=/bin/kill -9 $MAINPID
Restart=always
RestartSec=10
# Restart service after 10 seconds if node service crashes
StandardOutput=file:/home/rfid/node/http-sip2/logs/http-sip2.log
StandardError=file:/home/rfid/node/http-sip2/logs/http-sip2-err.log
User=rfid
Group=rfid
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target